<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>에듀온 매니저</title>
	<link rel="stylesheet" type="text/css" href="../../css/common.css" />
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../js/html5shiv.js" charset="utf-8" ></script>
	<![endif]-->
	<script type="text/javascript" src="../../js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="../../js/ui.js"></script>
</head>
<body>
	<a id="skipNavigation" href="#container">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap" class="sub">
		<div class="gnb-left">
            <div style="color:rgba(225,225,225,0.5); text-align:center; margin-top:50px; font-size:20px; font-weight:bold; font-style:italic;">lnb영역</div>
		</div>
		<!-- container -->
		<div class="container">
			<div class="page-titlebox">
				<h2 class="title">강좌관리</h2>
			</div>
			<!-- contents -->
			<div class="contents">
				<div class="tbl-write" style="width:500px;margin:0 auto;">
					<table>
						<caption>테이블 제목</caption>
						<colgroup>
							<col style="width:50%;">
							<col style="*">
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">btn-type1</th>
								<td>
									<a class="btn-type1" href="javascript:void(0);">목록</a>
								</td>
							</tr>
							<tr>
								<th scope="row">btn-type2</th>
								<td>
									<a class="btn-type2" href="javascript:void(0);">등록</a>
								</td>
							</tr>
							<tr>
								<th scope="row">btn-type3</th>
								<td>
									<a class="btn-type3" href="javascript:void(0);">버튼</a>
								</td>
							</tr>
                            <tr>
                                <th scope="row">btn-type4</th>
                                <td>
                                    <a class="btn-type4" href="javascript:void(0);">버튼</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">btn-type5</th>
                                <td>
                                    <a class="btn-type5" href="javascript:void(0);"><span>답변작성하기</span></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">btn-type6</th>
                                <td>
                                    <a class="btn-type6" href="javascript:void(0);">기타등록</a>
                                </td>
                            </tr>
							<tr>
								<th scope="row">btn-type7</th>
								<td>
									<a class="btn-type7" href="javascript:void(0);">기타등록</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //contents -->
		</div>
		<!-- //container -->
	</div>
	<!-- //wrap -->
</body>
</html>
