<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>에듀온 매니저</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../../js/html5shiv.js" charset="utf-8" ></script>
    <![endif]-->
    <script type="text/javascript" src="../../js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="../../js/ui.js"></script>
</head>
<body>
	<a id="skipNavigation" href="#container">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap" class="sub">
        <div class="gnb-left">
            <div style="color:rgba(225,225,225,0.5); text-align:center; margin-top:50px; font-size:20px; font-weight:bold; font-style:italic;">lnb영역</div>
        </div>
        <!-- container -->
		<div class="container">
			<div class="page-titlebox">
				<h2 class="title">강좌관리</h2>
			</div>
			<!-- contents -->
			<div class="contents">
                <br>
                <br>
                <strong>노란색 라디오</strong><br><br>
                <div class="radio-group">
                    <div class="common-radio">
                        <input id="r-1" type="radio" name="radio">
                        <label for="r-1"><span>가능</span></label>
                    </div>
                    <div class="common-radio">
                        <input id="r-2" type="radio" name="radio">
                        <label for="r-2"><span>불가능</span></label>
                    </div>
                </div>
                <br>
                <br>
                <strong>파란색 라디오</strong><br><br>
                <div class="radio-group">
                    <div class="common-radio type2">
                        <input id="r-3" type="radio" name="radio">
                        <label for="r-3"><span>가능</span></label>
                    </div>
                    <div class="common-radio type2">
                        <input id="r-4" type="radio" name="radio">
                        <label for="r-4"><span>불가능</span></label>
                    </div>
                </div>
                <br>
                <br>
                <strong>노란색 체크박스</strong><br><br>
                <div class="check-group">
                    <div class="common-check">
                        <input id="ch-1" type="checkbox" name="">
                        <label for="ch-1"><span>가능</span></label>
                    </div>
                    <div class="common-check">
                        <input id="ch-2" type="checkbox" name="">
                        <label for="ch-2"><span>불가능</span></label>
                    </div>
                </div>
                <br>
                <br>
                <strong>파란색 체크박스</strong><br><br>
                <div class="check-group">
                    <div class="common-check type2">
                        <input id="ch-3" type="checkbox" name="">
                        <label for="ch-3"><span>가능</span></label>
                    </div>
                    <div class="common-check type2">
                        <input id="ch-4" type="checkbox" name="">
                        <label for="ch-4"><span>불가능</span></label>
                    </div>
                </div>
                <br>
                <br>
                <strong>셀렉트 박스</strong><br><br>
                <select class="sel-1" style="width:128px;">
                    <option selected="selected">전체</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
			</div>
			<!-- //contents -->
		</div>
        <!-- //container -->
	</div>
	<!-- //wrap -->
</body>
</html>
