<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>에듀온 매니저</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../../js/html5shiv.js" charset="utf-8" ></script>
    <![endif]-->
    <script type="text/javascript" src="../../js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="../../js/ui.js"></script>
</head>
<body>
	<a id="skipNavigation" href="#container">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap" class="sub">
		<div class="gnb-left">
			<h1><a href="javascript:void(0);"><img src="../../images/logo.png" alt="eduon" /></a></h1>
			<div class="login-info">
				<a href="javascript:void(0);">홍길동</a>
				<span class="bar">|</span>
				<a href="javascript:void(0);">정보수정</a>
			</div>
			<h2 class="blind">주메뉴</h2>
			<!-- lnb-nav -->
			<ul class="lnb-nav">
				<li>
					<a class="text-yellow" href="javascript:void(0);">환경설정</a>
				</li>
				<li>
					<a href="javascript:void(0);">메인관리</a>
				</li>
				<li class="on">
					<a class="dept-01" href="javascript:void(0);">강좌관리<span class="arrowbox">3</span></a>
					<ul class="dept-02">
						<li class="on">
							<a href="javascript:void(0)">일반 강좌목록</a>
						</li>
						<li>
							<a href="javascript:void(0)">패키지 강좌목록</a>
						</li>
						<li>
							<a href="javascript:void(0)">나눔 강좌목록</a>
						</li>
						<li>
							<a href="javascript:void(0)">강좌문의<span class="arrowbox">3</span></a>
						</li>
					</ul>
				</li>
				<li>
					<a class="dept-01" href="javascript:void(0);">교재몰관리<span class="arrowbox">3</span></a>
                    <ul class="dept-02">
                        <li>
                            <a href="javascript:void(0)">교재몰관리1</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">교재몰관리2</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">교재몰관리3</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">교재몰관리4</a>
                        </li>
                    </ul>
				</li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">쿠폰관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">고객만족센터</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">문제은행/CBT</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">나눔특강 페이지 관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">커뮤니티</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">쿠폰관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">고객만족센터</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">문제은행/CBT</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">나눔특강 페이지 관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">커뮤니티</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">쿠폰관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">고객만족센터</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">문제은행/CBT</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">나눔특강 페이지 관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">커뮤니티</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">쿠폰관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">고객만족센터</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">문제은행/CBT</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">나눔특강 페이지 관리</a>
                </li>
                <li>
                    <a class="dept-01" href="javascript:void(0);">커뮤니티</a>
                </li>
				<li>
					<a class="dept-01" href="javascript:void(0);">쿠폰관리</a>
				</li>
				<li>
					<a class="dept-01" href="javascript:void(0);">고객만족센터</a>
				</li>
				<li>
					<a class="dept-01" href="javascript:void(0);">문제은행/CBT</a>
				</li>
				<li>
					<a class="dept-01" href="javascript:void(0);">나눔특강 페이지 관리</a>
				</li>
				<li>
					<a class="dept-01" href="javascript:void(0);">커뮤니티</a>
				</li>
			</ul>
			<!-- //lnb-nav -->
		</div>
        <!-- container -->
		<div class="container">
			<div class="page-titlebox">
				<h2 class="title">강좌관리</h2>
			</div>
			<!-- contents -->
			<div class="contents">
				<div class="sub-title">
                    <div class="title">강좌제목</div>
                </div>

                <div class="sub-title">
                    <div class="title fl">강좌제목</div>
                    <div class="btns">
                        <a class="btn-type6 fr" href="javascript:void(0);">기타등록</a>
                    </div>
                </div>

                <div class="tbl-title">
                    <div class="title fl">(검색결과 : 6건)</div>
                    <div class="btns fr">
                        <a class="btn-type2" href="javascript:void(0);">등록</a>
                    </div>
                </div>

                
			</div>
			<!-- //contents -->
		</div>
        <!-- //container -->
	</div>
	<!-- //wrap -->
</body>
</html>
