<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>에듀온 매니저</title>
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../../js/html5shiv.js" charset="utf-8" ></script>
    <![endif]-->
    <script type="text/javascript" src="../../js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="../../js/ui.js"></script>
</head>
<body>
	<a id="skipNavigation" href="#container">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap" class="sub">
        <div class="gnb-left">
            <div style="color:rgba(225,225,225,0.5); text-align:center; margin-top:50px; font-size:20px; font-weight:bold; font-style:italic;">lnb영역</div>
        </div>
        <!-- container -->
		<div class="container">
			<div class="page-titlebox">
				<h2 class="title">강좌관리</h2>
			</div>
			<!-- contents -->
			<div class="contents">
				<br>
				<br>
				<strong>외부 링크 탭 - 강좌제목과 오른쪽 정렬탭</strong>
				<br>
				<br>
				<br>
				<div class="title-tabR">
					<div class="sub-title">
                        <div class="title">강좌제목</div>
                    </div>
                    <div class="common-tab right">
                        <ul class="fix">
                           <li class="on"><a href="javascript:void(0);">탭메뉴 1</a></li>
                           <li><a href="javascript:void(0);">탭메뉴 2</a></li>
                           <li><a href="javascript:void(0);">탭메뉴 3</a></li>
                           <li><a href="javascript:void(0);">탭메뉴 4</a></li>
                           <li><a href="javascript:void(0);">탭메뉴 5</a></li>
                           <li><a href="javascript:void(0);">탭메뉴 6</a></li>
                       </ul>
                    </div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<strong>외부 링크 탭 - 오른쪽 정렬 : common-tab right</strong>
				<br>
				<br>
				<br>
                <div class="common-tab right">
                    <ul class="fix">
                       <li class="on"><a href="javascript:void(0);">탭메뉴 1</a></li>
                       <li><a href="javascript:void(0);">탭메뉴 2</a></li>
                       <li><a href="javascript:void(0);">탭메뉴 3</a></li>
                       <li><a href="javascript:void(0);">탭메뉴 4</a></li>
                       <li><a href="javascript:void(0);">탭메뉴 5</a></li>
                       <li><a href="javascript:void(0);">탭메뉴 6</a></li>
                   </ul>
               </div>
				<br>
                <br>
                <br>
                <br>
                <strong>외부 링크 탭 - 왼쪽 정렬 탭 : common-tab left</strong>
                <br>
                <br>
                <br>
                <div class="common-tab left">
                    <ul class="fix">
                        <li class="on"><a href="javascript:void(0);">탭메뉴 1</a></li>
                        <li><a href="javascript:void(0);">탭메뉴 2</a></li>
                        <li><a href="javascript:void(0);">탭메뉴 3</a></li>
                        <li><a href="javascript:void(0);">탭메뉴 4</a></li>
                        <li><a href="javascript:void(0);">탭메뉴 5</a></li>
                        <li><a href="javascript:void(0);">탭메뉴 6</a></li>
                    </ul>
                </div>
				<br>
				<br>
				<br>
                <strong>내부 탭 : common-tab left</strong>
                <br>
                <br>
                <br>
                <div class="insideTab">
                    <div class="common-tab left">
                        <ul class="fix">
                            <li class="on"><a href="javascript:void(0);">탭메뉴 1</a></li>
                            <li><a href="javascript:void(0);">탭메뉴 2</a></li>
                            <li><a href="javascript:void(0);">탭메뉴 3</a></li>
                            <li><a href="javascript:void(0);">탭메뉴 4</a></li>
                        </ul>
                    </div>
                    <div class="tabContainer">
                        <div class="tab-cont">
                            탭내용 1
                        </div>
                        <div class="tab-cont">
                            탭내용 2
                        </div>
                        <div class="tab-cont">
                            탭내용 3
                        </div>
                        <div class="tab-cont">
                            탭내용 4
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
				<strong>내부 탭 : common-tab right</strong>
                <div class="insideTab">
                    <div class="common-tab right">
        				<ul class="fix">
        					<li class="on"><a href="javascript:void(0);">탭메뉴 1</a></li>
        					<li><a href="javascript:void(0);">탭메뉴 2</a></li>
                            <li><a href="javascript:void(0);">탭메뉴 3</a></li>
        					<li><a href="javascript:void(0);">탭메뉴 4</a></li>
        				</ul>
                    </div>
                    <div class="tabContainer">
                        <div class="tab-cont">
                            탭내용 1
                        </div>
                        <div class="tab-cont">
                            탭내용 2
                        </div>
                        <div class="tab-cont">
                            탭내용 3
                        </div>
                        <div class="tab-cont">
                            탭내용 4
                        </div>
                    </div>
                </div>
			</div>
			<!-- //contents -->
		</div>
        <!-- //container -->
	</div>
	<!-- //wrap -->
</body>
</html>
